body {
  background-color: black;
}

h2 {
  color: aliceblue;
  font-family: "Press Start 2P", "consolas", "sans-serif";
}

p {
  color: lightgreen;
  font-family: "Press Start 2P", "consolas", "sans-serif";
  font-style: italic;
  font-weight: bold;
  text-decoration: cyan dotted underline;
  font-size: 18px;
}

